@colors() {
  button-color: #0da55e;
  button-color-hover: #0d56;
  text-color: #f5f6fa;
  background-color: #365535;
}

@spacing() {
  margin-bottom: 8px;
  margin-top: 26px;
  margin-bottom-large: 12px;
}

@font-sizes() {
  small: 14px;
  medium: 25px;
}

@border() {
  small: 2px;
  medium: 3px;
  large: 4px;
}
